<div ng-controller="CustomerDetailCtrl">
  CRN: <input ng-model="crn" ng-blur="updateCustomer($event)">
  <br><br>
  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="section in data" heading="{{section[0]}}"><!-- is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" -->
      <table>
        <tbody>
          <tr ng-repeat="field in section[1]">
            <td class="key">{{field[0]}}</td>
            <td>{{field[1]}}</td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>
</div>